<p id="notice"><%= notice %></p>

<h1>Lista artykułów</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nazwa</th>
      <th>Tytuł</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.name %></td>
        <td><%= article.title %></td>
        <td><%= link_to 'Pokaż', article %></td>
        <td><%= link_to 'Edytuj', edit_article_path(article) %></td>
        <td><%= link_to 'Usuń', article, method: :delete, data: { confirm: 'Jesteś pewny?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
