<p id="notice"><%= notice %></p>

<p>
  <strong>Nazwa:</strong>
  <%= @article.name %>
</p>

<p>
  <strong>Tytuł:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Zawartość:</strong>
  <%= @article.content %>
</p>

<%= link_to 'Edytuj', edit_article_path(@article) %> |
<%= link_to 'Wróc', articles_path %>


