<p id="notice"><%= notice %></p>


<div class="alert alert-success" role="alert">
  <%= @tip.content %>
  </div>

<%= link_to 'Edit', edit_tip_path(@tip) %> |
<%= link_to 'Back', tips_path %>
<%= link_to 'Wróc', tip_path%>
